<div ng-controller="groupController" class="container">
<h1> {{ 'common.name.group' | translate }} </h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="active">
                    <th>index</th>
                    <th> Name </th>
                    <th> {{ 'common.composition.upload_date' | translate }} </th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                    <td>1</td>
                    <td>Credit Card</td>
                    <td>04/07/2014</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
