<div ng-controller="groupController" class="container">
<h1> {{ 'common.name.group' | translate }} </h1>


<div class="container well"> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a ui-sref=".createGroup"> create group </a>
                    </li>
                    <li>
                        <a ui-sref=".findGroup">find group</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="well" ui-view></div>

</div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="active">
                    <th> Index</th>
                    <th> Name </th>
                    <th> GV </th>
                    <th> Created at </th>
                </tr>
            </thead>
            <tbody>
            	<tr ng-repeat="group in groups">
                    <td>  {{ group.id }}
                    </td>
                    <td> {{ group.name }}
                    </td>
                    <td> {{ group.gv || 'really dude' }}
                    </td>
                    <td> {{ group.created_at  }}
                    </td>

                    <!--
                       -here we defined some control elements to oper on single
                       -item
                    -->
                    <td style="text-align: left; width:150px" > 
                            <a class="btn btn-danger" ng-click="remove( group, $index )" ><span class="glyphicon glyphicon-minus" ></span></a>  
                            <a class="btn btn-info"><span class="glyphicon glyphicon-pencil" ></span></a>
                            <a class="btn btn-warning" ui-sref=".details({ groupId : {{$index}} } )"><span class="glyphicon glyphicon-eye-open"></span> </a>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
