<div class="container-fluid" style="background-color:#266482">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="form"  action="createGroup" method="post" accept-charset="utf-8">
            <div class="form-group">
                <label for="groupname">{{ 'common.name.group' | translate }} Name </label>
                <input class="form-control" place-holder="Enter groupname" ng-model="newgroup.name" type="text">
            </div>
            <a class="btn btn-success" ng-click="createGroup"> Create </a>
        </form>
    </div>
</div>
