<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/fab-du/cryptoClient">
          <span class="glyphicon glyphicon-home"></span> {{ 'header.app_name' | translate}}
      </a>
    </div>


    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
          <li class="active"><a ng-href="#">  {{ 'header.home'  | translate }}  </a></li>

          <li><a ui-sref=".users"> {{ 'common.name.members' | translate }}
              </a>
          </li>

          <li><a ui-sref=".documents"> {{ 'common.name.documents' | translate }}
              </a>
          </li>

          <li><a ui-sref=".groups"> {{ 'common.name.group' | translate }}
              </a>
          </li>

          <li><a ui-sref=".keys"> {{ 'common.name.key' | translate }}
              </a>
          </li>

          <li style="background-color:#3498db;" >
              <a ui-sref=".signin" style="color:white" > 
                  <span class="glyphicon glyphicon-log-in"></span>
                  {{ 'action.sign-in' | translate }}
              </a>
          </li>

          <li role="separator" class="divider"></li>

          <li style="background-color:#3498db; margin-left: 5px;">
              <a ui-sref=".signup" style="color:white;"> 
                <span class="glyphicon glyphicon-user"></span>
                {{ 'action.sign-up' | translate }}
              </a>
          </li>

          <li><a ui-sref=".sign-off"> {{ 'action.exit' | translate }}
              </a>
          </li>
      </ul>
    </div>

        <div class="pull-right"  ng-controller="I18nCtrl"  >
            <strong ng-controller="langChangedController" style="color : white"> {{ 'lang.lang' | translate }} : {{ currentLanguage }} </strong>
            <button type="button" class="btn btn-danger" data-toggle="dropdown" toggle-dropdown >
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="" ng-click="translate('de')"> {{ 'lang.german' | translate }}<img style="width:25px; height:25px" src="assets/images/de.png"> </a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="" ng-click="translate('en')"> {{ 'lang.english' | translate }}<img  style="width:25px; height:25px" src="assets/images/en.png"> </a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Kamerun<img  style="width:25px; height:25px" src="assets/images/cm.png"></a></li>
            </ul>
        </div>
    

  </div>
</nav>
