
<div class="container-responsive">


    <div class="panel panel-info">
        <div class="panel-heading">

            <div class="row">
                <div class="col-md-2">
                    <image style="width:50px; height:90px" src="assets/images/policeman1.svg"></image>
                </div>
                
                <div class="col-md-2 text-center">
                    <h4 > 
                        <small>{{ detailedUser.email }}</small>   
                    </h4>
                    <h4> 
                        <small>{{ detailedUser.firstname }}</small>   
                    </h4>
                    <h4> 
                        <small>{{ detailedUser.secondname }}</small>   
                    </h4>
                </div>
            </div>

        </div>
    
        <div class="panel-body">
            <div class="container-responsive row">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success"> Gruppe 
                    <span class="badge"> 5 </span>
                </li>

                <li class="list-group-item list-group-item-info"> Friends 
                    <span class="badge"> 4 </span>
                </li>
                <li class="list-group-item list-group-item-warning">GV 
                    <span class="badge"> 2 </span>
                </li>
                <li class="list-group-item list-group-item-danger">Dokuments
                    <span class="badge"> 2 </span>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
