<div ng-controller="documentController" class="container">

    <div class="table-responsive">
    <div class="table-responsive col-md-8">

        <h2> Dokuments </h2> 
        <table data-click-to-select="true" data-toggle="table" class="table table-bordered table-striped">
            <thead>
                <tr class="info">
                    <th data-halign="center"> Index</th>
                    <th data-halign="center"> Name </th>
                    <th data-halign="center"> Path </th>
                    <th data-halign="center"> {{ 'common.composition.upload_date' | translate}} </th>
                    <th data-halign="center"> {{ 'common.composition.last_modified' | translate}} </th>
                </tr>
            </thead>
            <tbody>
            	<tr ng-repeat="document in documents">
                    <td data-align="center">{{document.index}}</td>
                    <td data-align="center">{{document.name}}</td>
                    <td data-align="center">{{document.path}}</td>
                    <td data-align="center">{{document.upload_date}}    </td>
                    <td data-align="center">{{document.last_modified}}    </td>

                    <!--
                       -here we defined some control elements to oper on single
                       -item
                    -->
                    <td style="text-align: left; width:150px" > 
                            <a class="btn btn-danger" ng-click="" ><span class="glyphicon glyphicon-minus" ></span></a>  
                            <a class="btn btn-info"><span class="glyphicon glyphicon-pencil" ></span></a>
                            <a class="btn btn-warning" ui-sref=".details"><span class="glyphicon glyphicon-eye-open"></span> </a>
                            <shareButton content="42"></shareButton>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class='container' ng-controller="myCtrl">
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadFile()">upload me</button>
</div>

</div>
